@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,400&display=swap');

body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.project {
	font-weight: 700;
	font-size: 40px;
	margin-top: 300px;
	border: 2px solid black;
}

.project a {
	color: black;
}
.project a:hover {
	font-size: 50px;
	color: blue;
}