
.modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;

	&__content {
		padding: 20px;
		background-color: red;
		width: 50vw;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__header-close-btn {
		cursor: pointer;
	}

	&__container-btn {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.modal.active {
	opacity: 1;
	pointer-events: all;
}






