.wrapper-logo-cart {
	display: flex;
	align-items: center;
	position: relative;

	.cart-logo {
		
		margin: 0 10px;
		width: 22px;
		height: 22px;

		&.active {
			color: green;
		}
	}

	.shop-cart {
		font-size: 13px;
		font-weight: 700;
		border: 1px solid black;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		color: black;
		background-color: gold;
		position: absolute;
		bottom: -1px;
		right: 2px;
	}
}

