.product-wrapper {
	width: 250px;
	height: 466px;
	margin: 10px;
	padding: 10px 10px 20px 10px;
	background-color: rgb(251, 251, 251);
	border-radius: 5px;
	box-shadow: rgb(0, 0, 0, 0.4) 3px 3px 5px 2px ;
}