.product-item {

	.imem-code {
		font-size: 10px;
		text-align: start;
		height: max-content;
		margin: 4px 0 8px 0;
	}

	img {
		width: 160px;
		height: 210px;
	}

	h4 {
		height: 32px;
		overflow: hidden;
		margin: 16px 0 10px 0;
	}

	p {
		height: 52px;
		overflow: hidden;
		margin: 16px 0 10px 0;
	}

	.flex-star {
		height: 24px;
		width: max-content;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 8px;
		cursor: pointer;
	}
}

.star-active {
	color: gold;
}

.color-list {
	display: flex;
	margin: 2px;
}



.product-item-footer {
	padding-bottom: 20px;

	& h3 {
		margin-right: 20px;
	}
}
