@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-size: cover;
    height: calc(100vh - 58px);
}

/* header */

.wraper_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background: rgba(0, 0 ,0, 0.25);
}

.logo {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 79px;
}

.logo span {
    transition: color 0.25s linear;
}

.logo span:hover {
    color: #3CB878;
    cursor: pointer;
    z-index: -1;
}

.header_box {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 24px;
    width: max-content;
    transition: fill 0.25s linear;
}

.icon svg:hover {
    fill: #3CB878;
    z-index: -1;
}

.mini_line {
    width: 1px;
    height: 19px;
    background-color: #FFFFFF;
}

.header_right_part {
    color: #FFFFFF;
    padding: 0 79px 0 27px;
}

.header_right_part span{
    transition: color 0.25s linear;
}

.header_right_part span:hover {
    color: #3CB878;
    cursor: pointer;
    z-index: -1;
}


/* main_section */

.main_center_section {
    max-width: 444px;
    max-height: calc(100vh - 58px);
    background-color: #FFFFFF;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini_square {
    font-size: 20px;
    padding-top: 30px;
}

.mini_square::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-right: 42px;
}

.center_section a {
    color: #3CB878;
    padding: 33px 60px 0 0;
    transition: color 1s linear;
}

.center_section a:hover {
    text-decoration: underline;
    color: #01813F;
}


.container {
    max-width: 324px;
    margin: 0 auto;
    padding: 0 61px;
}

.btn_header_main {
    display: flex;
    gap: 4px;
    padding-top: 15px;
}

.btn {
    font-size: 16px;
    border: none;
    border-radius: 4px; 
    display: flex;
    align-items: center;
}

.left_btn_name {
    padding-left: 18px;
}

.btn_left {
    background-color: #305DB8;
    padding: 10px 16px;
    position: relative;
    color: #FFFFFF;
    transition: background-color 1s linear;
}

.btn_left:hover {
    background-color: #022263;
}

.line_btn_left {
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    margin-left: 18px;
}

.btn_right {
    background-color: #DF4A32;
    padding: 0 27px 0 12px;
    color: #FFFFFF;
    transition: background-color 1s linear;
}

.btn_right:hover {
    background-color: #AB1F09;
} 

.right_btn_name {
    padding-left: 38px;
}

.line_btn_right {
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    margin-left: 7px;
}



/* form */

.registration_form {
    padding-top: 40px;
    padding-bottom: 38px;
    margin: 0 auto;
}

.center_legend {
    display: flex;
    align-items: center;
    min-width: 100%;
}

legend::before {
    display: inline-block;
    content: "";
    width: 47%;
    height: 1px;
    background-color: #F2F2F2;
    padding-right: 2px;
}

legend::after {
    display: inline-block;
    content: "";
    width: 47%;
    height: 1px;
    background-color: #F2F2F2;
    padding-left: 2px;
}

.input_form {
    margin: 13px 0;
    width: 298px;
    padding: 12px 0 12px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
}


.input_form:focus {
    box-shadow: 3px 3px 5px 3px #e0dbdb;
}

.box_checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: max-content;  
    cursor: pointer;
}

.checkbox_footer {
    display: none;
}

.fake_checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-right: 8px;
    
}

.fake_checkbox::before {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../img/img_1.png);
    background-size: cover;
    opacity: 0;
    transition: 0.2s;
}

.checkbox_footer:checked + .fake_checkbox::before {
    opacity: 1;
}

.itm_checkbox {
    color: #3CB878;
    text-decoration: none;
    transition: font-size 1s linear;
}

.itm_checkbox:hover {
    text-decoration: underline;
    color: #01813F;
    transition: color 1s linear;
}

.btn_footer {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #3CB878;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 0 auto;
    padding: 13px 0;
    width: 100%;
    cursor: pointer;
}













