
.modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
	z-index: 10;

	&__content {
		padding: 20px;
		background-color: rgb(248, 248, 248);
		width: 300px;
		border-radius: 5px;

		p {
			margin-bottom: 40px;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 10px;
	}

	

	&__header-close-btn {
		cursor: pointer;
	}

	&__container-btn {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.modal.active {
	opacity: 1;
	pointer-events: all;
}






