.color-list-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid rgb(156, 198, 20);
	list-style-type: none;
	margin: 0 10px;

	&:hover {
		border: 1px solid rgb(7, 121, 152);
		cursor: pointer;
		

		.color-list-link {
			border: 0.5px solid black;
		}
	}

	.color-list-link {
		background-color: white;
		border-radius: 50%;
		position: relative;
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		overflow: hidden;
	}
}