.wrapper-logo-favorite {
	display: flex;
	align-items: center;
	position: relative;
	margin-right: 50px;

	.header-favorite {
		margin-left: 20px;
	}
	
	.favorite-logo {
		margin: 0 10px;
		width: 24px;
		height: 24px;

		&.active {
			color: gold;
		}
	}

	.favorite-cart {
		font-size: 13px;
		font-weight: 700;
		border: 1px solid black;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		color: #fff;
		background-color: green;
		position: absolute;
		bottom: -1px;
		right: 2px;
	}
}
