@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.background_page {
    background-image: url(../img/background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1366px;
    margin: 0 auto;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 1030px;
    margin: 0 auto;
    text-align: center;
}



.header_logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 46px;
}

.box_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 200px;
}


.logo {
    background-image: url(../img/logo-white.svg);
    background-size: 100%;
    width: 53px;
    height: 47px;
}

.box_logo:hover .logo  {
    background-image: url(../img/logo-orange.svg);
}

.box_logo:hover .name {
    color: #F26522;
}

.box_name {
    display: flex;
    flex-wrap: wrap;
    max-width: 130px;
    max-height: 47px;
    padding-left: 8px;
}

.name {
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
    align-self: end;
    line-height: 13px;
}

.box_name > h2 {
    font-weight: 700;
    font-size: 29px;
    line-height: 18px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
    justify-content: end;
}

.contacts a {
    color: #FFFFFF;
    padding-bottom: 19px;
    
}

.contacts:hover .contacts_text {
    color: #F26522;
}


/* main */

.main_section {
    display: grid;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
    max-width: 1030px;
    padding-bottom: 48px;
}

.card_img {
    transition: transform 1s ease-in-out;
    position: relative;
    overflow: hidden;
    max-height: 215px;
    margin-bottom: 20px;
    border: 3px solid;
    border-image-source: linear-gradient(42deg, rgba(250,250,250,1) 22%, rgba(10,10,10,1) 72%);
    border-image-slice: 1;
    
}

.img_main {
    width: 100%;
    padding-bottom: 20px;
    
}

.info_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 12px;
    background-color: #F26522;
    color: #FFFFFF;
    transition: transform 1s ease-in-out;
    position: absolute;
    bottom: -50px;
    z-index: -1;
    width: 100%;
}

.card:hover .info_card{
    z-index: 1;
    transform: translate(0, -86%);
    
    
}

.info_card_text_first {
    padding-left: 16px;
}

.info_card_text_first p {
    font-size: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.info_card_text_first h4 {
    font-size: 20px;
}

.info_card_text_second {
    font-size: 14px;
    /* padding-left: 98px; */
}

.info_card_text_second::after {
    content: ">";
    padding-left: 16px;
    padding-right:14px;
}

.span_for_img  {
    color: #FFFFFF;
}

.card:hover .span_for_img {
    color: #F26522;
}

/* Footer */

.footer_section {
    padding: 0 0 15px 0;  
    color: #FFFFFF;
}
