body{
	font-family: sans-serif;
	font-weight: 400;
	// width: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}






