.wrapper {
	margin-left: 20px;
	margin-top: 15px;
	max-width: 700px;
	margin: 0 auto;
}

.form {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
	width: 700px;
}

.form input {
	width: 700px;
	height: 25px;
	margin: 5px 0;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
}

.btn-create {
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 2px black;
}

.container-post {
	margin: 0 auto;
	width: 700px;
	padding: 3px 10px;
	background-color: rgba(0, 170, 255, 0.114);
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	margin-bottom: 15px;
}

.container-post h2 {
	display: inline-block;
	margin-right: 5px;
	color: blue;
}

.container-post h3 {
	display: inline-block;
	color: red;
}

.container-post h4 {
	text-transform: uppercase;
}

.btn-delete {
	margin: 0 0 10px 20px;
	padding: 5px 10px;
	box-shadow: 2px 2px 2px black;
}

.none {
	display: none;
}
/* ---__- */
