@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');


.container {
    max-width: 1283px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.logo_ramda {
    text-align: start;
    padding-top: 63px;
    margin-left: 98px;
    font-size: 80px;   
}

.logo_1_part {
    color: #4BCAFF;
    text-decoration: none;
    
}

.logo_2_part {
    
    color: #000000;
    text-decoration: none;
    
}

.nav_header {
    display: flex;
    margin: 38px auto 0 auto;
    background-color: #35444F;
    min-height: 72px;
    min-width: 1283px;
    justify-content: center;
}

.list {
    border-right: 1px solid white;
    padding: 24px 38px;
    font-size: 24px;
    border-left: 1px solid white;
}

.nav_header_item {
    text-decoration: none;
    color: white;
}

.list:hover {
    background-color: #222F3A;
}

.large_box {
    display:flex;
    justify-content: space-between;   
}

.nav_main {
    margin-top: 48px;
    border: 1px solid #000000;
    display: flex;
    width: 345px;
    height: 400px;
    overflow: hidden;
    
}

.list_aside {
    width: 345px;
    height: 28px;
    padding: 26px 0;
    transition: transform 1s;
    text-align: left;  
    padding-left: 40px;
    transition: padding 1s; 
}

.list_aside:hover {
    background-color: #DBDBDB;
    transform: scale(1.2); 
    padding-left: 80px;   
}

.nav_main_item {
    text-decoration: none;
    color: #000000;
    font-size: 27px;     
}


.box_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 530px;
    border: 1px solid black;
    margin: 48px 0 37px 51px;
}

img {
    width: 320px;
    height: 380px; 
    transition: transform 1s;
}

img:hover {  
    transform: scale(1.2);
}

.section_box {
    display: flex;
    justify-content: end;
    margin-bottom: 34px;
}

.text_paragraph {
    max-width: 885px;
    text-align: left;
}

.footer_left_side {
    display: inline-flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    min-width: 1283px;
    min-height: 70px;
}

.box_left {
    display: flex;
    align-items: center;
}

.footer_list {
    display: flex;
    padding-left: 40px;
    max-width: 875px;
    justify-content: space-between;
}



.footer_list_item {
    text-decoration: none;
    color: #0C1927;
    font-size: 27px;
    margin-right: 20px;
    transition: 1s;
}

.footer_list_item:hover {
    color: #3181A6;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    
}

.text_footer_right {
    font-size: 24px;
    padding: 22px 40px 0 0;
}