.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.header-modal-cart {
		margin-bottom: 16px;
	}

	label {
		color: rgb(40, 42, 44);
		margin-top: 12px;
		font-size: 15px;
		align-self: start;
	}

	input {
		
		padding: 10px;
		height: 16px;
		border: none;
		background-color: rgb(224, 231, 236);
	}

	input:focus {
		outline: none;
	}

	button {
		border: none;
		height: 35px;
		margin-top: 30px;
		background-color: rgb(0, 183, 255);
		color: white;
		font-size: 16px;
	}

	.error {
		font-size: 12px;
		color: red;
	}
}

