@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

@font-face {
	font-family: Futura Bold;
	src: url("../fonts/FUTURAB.TTF") format("truetype");
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	
}

h2 {
	font-weight: 700;
	font-size: 60px;
	color: #14AFCA;
	text-transform: uppercase;
	padding-bottom: 28px;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #424F57;
	padding-bottom: 32px;
}

.shadow {
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -2;
}

.padding_top {
	padding-top: 32px;
}

.header_wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #FFFFFF;
}

.hedder_left {
	font-weight: 300;
	font-size: 36px;
	padding: 40px 0;
	color: #424F57;
}

.hedder_left span {
	font-weight: 900;
	font-size: 36px;
	color: #14AFCA;
}

.hedder_right {
	display: flex;
	justify-content: space-around;
	width: 60%;
}

.hedder_right a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	color: #3E4C4E;
}

.hedder_right a:hover {
	color: #14AFCA;
}

/* ----------------------main ------------------- */

.paralax {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	perspective: 1px;
	overflow-y: auto;
}

.black_hole {
	opacity: 0;
}

.bg_1 {
	background-image: url(../img/bg1.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: translateZ(-2px) scale(3);
}

.shadow_bg_1 {
	clip-path: polygon(0 0, 50% 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
	background-color: rgba(0, 0, 0, 0.6);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: -110px;
	left: 0;
	right: 0;
	z-index: -2;
}


.trasparente_main {
	position: relative;
	font-family: Futura Bold;
	font-size: 52px;
	text-transform: uppercase;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 366px;
	transform: translateZ(0);
}

.answers_on_questions {
	height: 528px;
	position: relative;
	z-index: 1;
}

.answers_on_questions p {
	font-size: 16px;
}

.background_white {
	position: absolute;
	height: 528px;
	width: 100%;
	background-color: #FFFFFF;
	clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
	z-index: -1;
}

.center_text {
	height: 200px;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: calc(50% - 113px);
}

.box_2 {
	position: relative;
	/* overflow-x: hidden; */
	perspective: 1px;
	/* overflow-y: auto; */
	height: 100vh;
}


.bg_2 {
	clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
	background-image: url(../img/bg2.jpg);
	/* height: 200vh; */
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: translateZ(-2px) scale(3);
}

.shadow_bg_2 {
	clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
	background-color: rgba(0, 0, 0, 0.6);
	height: max-content;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
	position: absolute;
	top: -110px;
	left: 0;
	right: 0;
	height: 200vh;
}

.partners {
	padding-top: 44px;
}

.partners h6 {
	color: #FFFFFF;
}

.container {
	max-width: 1020px; 
	margin: 0 auto;
}

.partners_logo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 66px;
	padding-top: 36px;
	justify-content: center;
	align-items: center;
	padding-bottom: 150px;
}

.logo_adobe {
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	padding: 18px 16px;
}

/* ---------------------foto_workers----------------- */

.foto_workers {
	background-color: #FFFFFF;
	padding: 184px 0 100px 0;
	position: relative;
}

.background_white_workers {
	position: absolute;
	height: 715px;
	width: 100%;
	background-color: #FFFFFF;
	clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
	z-index: -1;
}

.foto_flex {
	display: flex;
	gap: 85px;
}

.foto_flex_itm {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

/*                        testimonials           */
.testimonials {
	padding: 181px 0 152px 0;
	clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
	background: none;
	position: relative;
}

.bg_3 {
	background-image: url(../img/bg3.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.shadow_section_3 {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -2;
}

.testimonials h6{
	color: #FFFFFF;
}

.comment {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 28px;
	color: #D3CCCC;
}

.author {
	font-size: 18px;
	font-style: italic;
	color: #FFFFFF;
	text-align: end;
	padding: 28px 80px 0 0;
}

.about {
	background-color: #FFFFFF;
	clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
	position: relative;
	padding: 200px 0 96px 0;
}

.about_itm {
	font-weight: 700;
	font-size: 30px;
	line-height: 48px;
	color: #424F57;
	text-transform: uppercase;
	padding-bottom: 96px;
}

/* footer */

.footer_box {
	background-color: #FFFFFF;
	padding-bottom: 88px;
}

.footer_itm_1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.footer_itm_2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	
}




