.footer {
	background-color: #000000;
	padding: 6.6rem 0 7rem 0;
	text-align: center;

	@media (max-width: 767px) {
		& {
			padding: 3.8rem 0 4.7rem 0;
		}
	}

	&__title {
		@include fz-fw-lh($fz-big, 700, 2.2rem);
		text-transform: uppercase;
		color: #fefefe;
		padding-bottom: 2.2rem;

		@media (max-width: 767px){
			& {
				font-size: $fz-big;
			}
		}
	}

	&__sub-title {
		@include fz-fw-lh($fz-big, 400, 2.6rem);
		max-width: 68.4rem;
		color: #b9b9b9;
		margin: 0 auto;
		// padding-bottom: 3.7rem;

		@media (max-width: 767px) {
			& {
				@include fz-fw-lh(1.2rem, 400, 2rem);
			}
		}
	}

	&__social svg{
		margin: 2.5rem .6rem;
	}

	&__contacts {
		@include fz-fw-lh( $fz-big, 400, 2.6rem);
		color: #b9b9b9;

		@media (max-width: 767px) {
			& {
				@include fz-fw-lh( $fz-middle, 400, 2.4rem);
			}
			& span {
				display: block;
			}
		}
	}
}

