@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

html, body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 10px;
}

.container {
	max-width: 1170px;
	padding: 0 1.5rem 0 1.5rem;
	margin: 0 auto;
	// width: 100%;
}