.header {
	padding: 4.5rem 0 5rem 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;

	@media (max-width: 767px) {
		padding: 2.3rem 0 0 0;
	}

	&__wraper {
		display: flex;
		justify-content: end;
	}

	&__burger {
		display: none;
	}

	&__menu {
		width: 100%;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 5%;
		@include fz-fw-lh($fz-small, 400, 2.2rem);
		text-transform: uppercase;
		width: 100%;
	}

	&__item a {
		color: $color-title;

		&:hover {
			color: #57a4a4;
		}
	}
}

// ------------burger----------------

@media (max-width: 767px) {
	.header {
		&__wraper {
		}

		&__burger {
			display: block;
			position: relative;
			width: 4.4rem;
			height: 3.7rem;
			background-color: #000000;

			span {
				position: absolute;
				width: 1.9rem;
				height: 0.2rem;
				background-color: #fff;
				left: 1.3rem;
				transition: all 0.3s ease;

				&:nth-child(1) {
					top: 1.3rem;

					@at-root .active#{&} {
						transform: rotate(45deg);
						top: 50%;
					}
				}


				&:nth-child(2) {
					top: 1.7rem;

					@at-root .active#{&} {
						display: none;
					}
				}

				&:nth-child(3) {
					bottom: 1.4rem;

					@at-root .active#{&} {
						transform: rotate(-45deg);
						top: 50%;
					}
				}
			}
		}

		&__menu {
			position: fixed;
			top: 6rem;
			opacity: 0;
			width: inherit;
			transition: all 1s ease;

			@at-root .active#{&} {
				opacity: 1;
			}
		}

		&__list {
			display: block;
			margin: 0 0 0.6rem 0;
			background-color: #f5f5f5;
			width: 18.2rem;
		}

		&__item {
			padding-left: 1.3rem;
			padding-top: 0.6rem;
			height: 0;
			background-color: #f5f5f5;
			transition: all 1s ease;

			@at-root .active#{&} {
				height: 2.5rem;
			}

			&:hover {
				background-color: #e5e5e5;
				a {
					color: #57a4a4;
				}
			}
		}
	}
}
