.main-img > img {
	padding: 11.8rem 0 0 0;
	max-width: 100%;

	@media (max-width: 767px) {
		padding: 8.3rem 0 0 0;
	}
}

// -------------posts--------------
.posts {
	padding: 6.6rem 0 6.9rem 0;

	@media (max-width: 767px) {
		padding: 3.8rem 0 6.9rem 0;
	}

	&__title {
		@include fz-fw-lh($fz-big, 700, 2.2rem);
		text-transform: uppercase;
		color: $color-title;
		padding-bottom: 2.4rem;

		@media (max-width: 767px) {
			font-size: $fz-middle;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: row;
		column-gap: 2.5rem;
		row-gap: 3.2rem;

		@media (max-width: 992px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__elem {
		display: flex;
		column-gap: 2.1rem;

		@media (max-width: 456px) {
			display: block;
		}
	}

	&__img{
	}

	&__img img{
		max-width: 16rem;
	}

	&__text {

		
	}

	&__text h2 {
		@include fz-fw-lh($fz-big, 700, 3rem);
		color: $color-title;

		@media (max-width: 767px) {
			font-size: $fz-middle;
		}
	}

	&__text h4 {
		@include fz-fw-lh(1.2rem, 400, 2.2rem);
		color: #7c7c7c;
		padding: 0 0 1.3rem 0;

		@media (max-width: 767px) {
			font-size: 1.1rem;
		}
	}

	&__text p {
		font-size: $fz-middle;
		line-height: 2.6rem;
		color: $color-text;

		@media (max-width: 600px) {
			display: none;
		}
	}
}

// ____________instagram-shots_________________

.instagram-shots {
	&__bg {
		padding: 4.7rem 0 4.9rem 0;
		background-color: rgba(0, 0, 0, 0.03);

		@media (max-width: 767px) {
			& {
				background-color: #fff;
				padding: 3.8rem 0 4.2rem 0;
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		@include fz-fw-lh($fz-big, 700, 2.2rem);
		text-transform: uppercase;
		color: $color-title;
	}

	&__sub-title {
		@include fz-fw-lh(1.3rem, 700, 2.2rem);
		text-transform: uppercase;
		color: $color-title;
		

		@media (max-width: 767px) {
			display: none;
		}
	}
}

.shots-img {
	display: flex;
	justify-content: space-around;
	padding-top: 2.4rem;
	overflow: hidden;

	@media (max-width: 767px) {
		& {
			padding-top: 1.3rem;
		}
	}

	&__cards {
		display: inline-block;
		padding-left: 1%;

		&:first-child{
			padding-left: 0;
		}

		& img {
			max-width: 100%;
		}

		@media (max-width: 992px) {
			&:last-child{
				display: none;
			}
		}

		@media (max-width: 767px) {
			&:nth-child(3){
				display: none;
			}
		}

		@media (max-width: 600px) {
			&:nth-child(2){
				display: none;
			}
		}
	}
}
