.flex-end {
  display: flex;
  margin-right: 40px;
  margin-top: 20px;
  justify-content: flex-end;
}
.btn {
  border-radius: 5px;
  padding: 5px 25px;
  cursor: pointer;
  background-color: rgb(107, 160, 225);
}