@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 400;
    background-color: #000000;
    overflow: hidden;
    margin: 50% 0 0 0;
}

audio {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 4;
    border-radius: 43%;
    box-shadow: 2px 2px 2px 4px rgb(234, 234, 75);
    outline: none;
}

.wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    perspective: 500px;
}

.container {
    color: rgb(234, 234, 75);
    text-align: justify;
    position: absolute;
    animation-name: animation;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

@keyframes animation {
    0% {
        top: 10px;
        transform: translateZ(0) rotateX(23deg);
    }

    100% {
        top: -7000px;
        transform: translateZ(-2500px) rotateX(25deg);
    }
}

.container h1 {
    font-weight: 800;
    font-size: 160px;
    text-align: center;
    padding-bottom: 1em;
}

.container h2 {
    font-weight: 800;
    font-size: 120px;
    text-align: center;
    padding-bottom: 1em;
}

.container p {
    padding-bottom: 2em;
    line-height: 2;
}

.shadow {
    position: absolute;
    height: 35vh;
    width: 100vw;
    top: 0;
    background: linear-gradient(0deg, rgba(5,5,5,0.13209033613445376) 10%, rgba(0,0,0,0.7343312324929971) 11%, rgba(0,0,0,1) 28%);
}

.surprise {
    background-image: url(../img/cool.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-name: animation_surprise;
    animation-delay: 2.5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes animation_surprise {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 0;
    }
    90% {
    opacity: 1;
    }

    100% {
    opacity: 0;
    }
}
