@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.header {
	background: rgba(94, 93, 88, 0.6);
}

.container {
	width: 1160px;
	margin: 0 auto;
}

/* ______header fixed__________ */

.header {
	width: 100%;
	height: 120px;
	position: fixed;
	background: rgba(94, 93, 88, 0.6);
	z-index: 10;
}

.header-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 26px;
	margin-bottom: 27px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo>h1 {
	font-size: 32px;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 6px;
}

.logo>h1>span {
	font-weight: 700;
	color: #18CFAB;
}

.background-header {
	background-image: url(../img/background1.png);
	position: fixed;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.header-nav {
	font-weight: 700;
	font-size: 16px;
	margin-right: 21px;
	color: rgba(255, 255, 255, .6);
	display: inline-block;
	position: relative;
}

.header-nav:hover {
	color: #18CFAB;
}

.header-nav:hover::after {
	content: "";
	border-bottom: 2px solid #18CFAB;
	width: 100%;
	display: block;
	position: absolute;
	top: 66px;
}


/* _______we are creative___ */

.header-title {
	padding-top: 384px;
	text-align: center;
}

.header-title h2 {
	font-weight: 700;
	font-size: 35px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.header-title h2:first-child>span {
	color: #18CFAB;
}

.header-title>h2:nth-child(2) {
	font-size: 78px;
}

.header-title>h5 {
	font-weight: 400;
	font-size: 34px;
	color: #D4D4D4;
	margin-bottom: 134px;
}

.btn-header {
	margin-bottom: 243px;
}

.btn-header button:first-child {
	margin-right: 26px;
}

.btn-standart {
	width: 169px;
	height: 63px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 40px;
	border: none;
	font-size: 15px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}

.btn-shadow {
	box-shadow: 0 -5px 0 #FFFFFF;
}

.bg-green {
	background-color: #18CFAB;
}

.bg-blue {
	background-color: #00CBF6;
}

.block-about {
	display: flex;
	justify-content: center;
	width: 100vw;
}

 .block {
	width: 25%;
	height: 372px;
	text-align: center;
}

.item-1-3 {
	background-color: #1C2A33;
}

.item-1-3>img {
	padding: 95px 0 48px 0;
}

.item-1-3>h6 {
	color: #18CFAB;
	text-transform: uppercase;
	font-size: 20px;
}

.item-2-4 {
	background-color: #18CFAB;
}

.item-2-4>img {
	padding: 106px 0 58px 0;
}

.item-2-4>h6 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 20px;
}

h3 {
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: #4E4E4E;
	text-align: center;
	position: relative;
}

h3::after {
	content: "";
	height: 2px;
	width: 75px;
	background-color: #18CFAB;
	position: absolute;
	left: calc(50% - 22.5px);
	top: 72px;
}

h3::before {
	content: "";
	height: 2px;
	width: 75px;
	background-color: #18CFAB;
	position: absolute;
	left: calc(50% - 37.5px);
	top: 68px;
}

.container-tabs {
	background-color: #FFFFFF;
	padding-top: 95px;
}

.tabs {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 28px;
}

.tabs-title {
	width: 193px;
	height: 72px;
	font-weight: 400;
	font-size: 16px;
	line-height: 72px;
	text-align: center;
	background-color: #F8FCFE;
	color: #717171;
	cursor: pointer;
	list-style-type: none;
	border: 1px solid #EDEFEF;
	position: relative;
}

.tabs-title:hover {
	border: 1px solid #18CFAB;
}

.tabs_item {
	display: none;
	padding-bottom: 90px;
}

.active-tab {
	background-color: #18CFAB;
	color: #FFFFFF;
}

.active-p {
	display: flex;
}

.active-tab::before {
	content: "";
	position: absolute;
	left: 85px;
	bottom: -20px;
	border: 10px solid transparent;
	border-top: 10px solid #18CFAB;
}

.tabs_item>img {
	width: 192px;
	height: 139px;
	margin-right: 15px;
}

.tabs_item>p {
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #777777;
}

.section-buy {
	background-image: url(../img/background2.png);
	width: 100%;
	background-size: cover;
	text-align: center;
	padding: 127px 0;
}

.buy-title {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	color: #18CFAB;
	padding-bottom: 12px;
	text-transform: uppercase;
}

.buy-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #D8D8D8;
	padding-bottom: 67px;
}

/*-------------------WORK------------------- */
#work {
	background-color: #E9EDEF;
	padding: 96px 0;
	text-align: center;
}

/* ______ */
:root {
	--effect: hover 1s linear infinite;
}

.container-loading {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.loading-progress {
	text-align: center;
}

.loading-progress p {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
	font-family: arial;
	font-weight: 600;
	transform: scale(.5);
	color: #121212;
	-webkit-text-stroke: 2px gray;
}

.loading-progress p:nth-child(1) {
	animation: var(--effect);
}

.loading-progress p:nth-child(2) {
	animation: var(--effect) .125s;
}

.loading-progress p:nth-child(3) {
	animation: var(--effect) .25s;
}

.loading-progress p:nth-child(4) {
	animation: var(--effect) .375s;
}

.loading-progress p:nth-child(5) {
	animation: var(--effect) .5s;
}

.loading-progress p:nth-child(6) {
	animation: var(--effect) .675s;
}

.loading-progress p:nth-child(7) {
	animation: var(--effect) .75s;
}

@keyframes hover {
	0% {
		transform: scale(.5);
		color: #121212;
		-webkit-text-stroke: 2px gray;
	}

	20% {
		transform: scale(1);
		color: green;
		-webkit-text-stroke: 3px yellowgreen;
		filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px green)drop-shadow(0 0 5px green)hue-rotate(10turn);
	}

	50% {
		transform: scale(.5);
		color: #121212;
		-webkit-text-stroke: 2px gray;
	}
}


/*    *******radio-btn******   */

.display-none {
	display: none;
}

.radio-text {
	padding: 14px 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 72px;
	border: 1px solid #DADADA;
	cursor: pointer;
}

#all {
	padding: 14px 28px;
}

#img-container {
	margin-top: 42px;
	margin-bottom: 70px;
	text-align: start;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0;
}

.card_img-active {
	border: 1px solid #18CFAB;
	color: #18CFAB;
}

.btn-plus {
	padding-right: 15px;
}

.card {
	position: relative;
	perspective: 600px;
	width: 290px;
	height: 211px;
}

.card_img {
	width: 290px;
	height: 211px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform .3s ease-in-out;
	backface-visibility: hidden;
}

.card_info {
	background-color: white;
	transform: rotateX(-180deg);
	transition: transform .3s ease-in-out;
	backface-visibility: hidden;
	height: inherit;
	text-align: center;
	position: relative;
	border-top: 6px solid #18CFAB;
}

.card:hover .card_img {
	transform: rotateX(180deg);
}

.card:hover .card_info {
	transform: rotateX(0deg);
}

.card_info img {
	margin-top: 40px;
	cursor: pointer;
}

.card_info h4 {
	font-weight: 700;
	font-size: 14px;
	line-height: 25px;
	padding-top: 24px;
	text-transform: uppercase;
	color: #18CFAB;
}

.card_info p {
	font-weight: 300;
	font-size: 12px;
	line-height: 25px;
	color: #8A8A8A;
}

/* ___________blog__________________ */

#blog {
	background-color: #FFFFFF;
	padding-top: 82px;
	padding-bottom: 128px;
}

.blog-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 43px;
	column-gap: 30px;
	margin-top: 100px;
}

.image_wraper {
	position: relative;
}

.blog-img {
	cursor: pointer;
}

.hover-item figcaption {
	position: absolute;
	top: 0;
	right: 4.5px;
	width: 70px;
	height: 68px;
	background: #203E38;
	color: #fff;
	text-align: center;
}

.hover-item:hover figcaption {
	background-color: #18CFAB;
	color: #FFFFFF;
}

.hover-item:hover h6 {
	color: #18CFAB;
}

.hover-item figcaption p {
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
}

.hover-item figcaption p:first-child {
	padding-top: 10px;
}

.hover-item {
	cursor: pointer;
}

.hover-item h6 {
	font-weight: 700;
	font-size: 18px;
	line-height: 39px;
	margin-left: 18px;
	color: #717171;
	width: max-content;
}

.image_wraper>p {
	font-weight: 300;
	font-size: 14px;
	line-height: 39px;
	margin-left: 18px;
	color: #777777;
}

/* ________testimonial_________slider_________ */

#testimonial {
	background-image: url(../img/BG2.png);
	padding: 96px 0;
	background-size: cover;
}

.wrapper {
	text-align: center;
}

.testimonial-header {
	color: #FFFFFF;
}

.testimonial-container {
	padding-top: 98px;
	height: 412px;
	/* width: 485px; */
	overflow: hidden;
	position: relative;
	text-align: center;
}

.box-text-slider p {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	padding-top: 35px;
	color: #BBBBBB;
}

.box-text-slider h5 {
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	text-transform: uppercase;
	color: #18CFAB;
	padding-top: 36px;
}

.box-text-slider h6 {
	font-weight: 300;
	font-size: 13px;
	line-height: 27px;
	color: #BBBBBB;
	padding-bottom: 25px;
}

.img-slider img {
	width: 142px;
	height: 142px;
	border: 12px solid rgba(31, 218, 181, .2);
	border-radius: 50%;
	object-fit: cover;
}

/* _____mini ___slider_______*/

.mini-testimonial-container {
	display: inline-block;
	padding-top: 36px;
	padding-left: 26px;
	padding-right: 26px;
	width: 485px;
	height: 70px;
	overflow: hidden;
	position: relative;
}

.mini-testimonial-wrapper {
	width: 415px;
}

.img-mini-slider {}

.mini-img-slider img {
	width: 58px;
	height: 58px;
	border: 6px solid rgba(31, 218, 181, .2);
	border-radius: 50%;
	cursor: pointer;
	object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	color: #BBBBBB;
	font-size: 10px;
	/* padding: 10px 11px; */
	line-height: 33px;
	border: 1px solid #BBBBBB;
	position: absolute;
	top: 25px;
	height: 33px;
	width: 33px;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
	background-color: #18CFAB;
	color: #FFFFFF;
}

.swiper-slide-thumb-active {
	position: relative;
	top: -15px;
}

/* ___________skills___Gallery of best images_____ */


#skills {
	padding-top: 95px;
	padding-bottom: 80px;
	background-color: #FFFFFF;
	text-align: center;
}

.grid {
	padding-top: 115px;
	padding-bottom: 52px;
}

.grid-item {
	width: 32.2%;
	margin-bottom: 20px;
}

.grid-item>img {
	width: 100%;
}

.sr>img {
	width: 49%;
	height: 168px;
}

.mini>img {
	width: 32.2%;
	height: 92px;
}

/* ________footer___________ */

.footer {
	height: 121px;
	background-color: #22353F;
	text-align: center;
}

.footer p {
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	color: #AEAEAE;
	padding-top: 48px;
}

.footer p span {
	color: #18CFAB;
}

.img-slider p {
	color: #D8D8D8;
}

.ba {
	position: absolute;
	top: 130px;
	left: 25%;
	box-sizing: border-box;
	box-shadow: 10px 10px 10px 20px rgba(0, 0, 0, .7);
}

.ba img {
	width: 50vw;
	height: 100%;
}