.wrapper-product {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	width: 100%;

	.wrapper-product-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 82%;
	}

	.wrapper-item {
		display: flex;
		width: 480px;
		overflow: hidden;

		img {
			height: 50px;
			width: 46px;
		}

		h5 {
			margin-left: 20px;
			text-align: start;
			width: 100%;
		}
	}

	.btn-product {
		border-radius: 5px;
		padding: 5px 20px;
		cursor: pointer;
		background-color: rgb(165, 198, 238);
	}
}
